{
    local_certs
    skip_install_trust
    storage file_system /caddy_storage
}

https://localhost:{$HTTPBIN_HTTPS_PORT:8443} {
    reverse_proxy httpbin:80
}

https://caddy:{$HTTPBIN_HTTPS_PORT:8443} {
    reverse_proxy httpbin:80
}
