services:
  httpbin:
    image: docker.io/kennethreitz/httpbin:latest
    ports:
      - "${HTTPBIN_HTTP_PORT:-8080}:80"

  caddy:
    build:
      context: .
      dockerfile: Dockerfile.caddy
    # In GitHub Actions we want to access the files created
    # by Caddy. However, in Linux these end up being owned by root
    # because the container by default runs using the root user
    # and we are not root in the GH action so we cannot access them.
    user: "${DOCKER_USER:-root}"
    environment:
      - HTTPBIN_HTTP_PORT=${HTTPBIN_HTTP_PORT:-8080}
      - HTTPBIN_HTTPS_PORT=${HTTPBIN_HTTPS_PORT:-8443}
    volumes:
      - "./caddy_storage:/caddy_storage"
    ports:
      - "${HTTPBIN_HTTPS_PORT:-8443}:${HTTPBIN_HTTPS_PORT:-8443}"
    depends_on:
      - httpbin
