%% -*- mode: erlang; -*-
{minimum_otp_vsn, "25"}.

{erl_opts, []}.

{project_plugins, [
    rebar3_format,
    erlfmt,
    rebar3_ex_doc,
    rebar3_proper
]}.

{format, [
    {files, ["src/*.erl", "include/*.hrl"]},
    {ignore, []},
    %% The erlfmt formatter interface.
    {formatter, erlfmt_formatter},
    %% ...or no options at all.
    {options, #{print_width => 100, ignore_pragma => true}}
]}.

{erlfmt, [
    write,
    {print_width, 120},
    {files, [
        "{src,include,test}/*.{hrl,erl}",
        "src/*.app.src",
        "rebar.config"
    ]}
]}.

{deps, []}.
